img{
    width: 100%;
}

a{
    color: currentColor;
    text-decoration: none;
}

ul, li, menu {
    list-style: none;
}

/* BG COLORS */
.nav-section{
    background-color: #2C3E50;
    text-transform: uppercase;
}

.hero-section{
    background-color: #1ABC9C;
    text-transform: uppercase;
}

.about-section{
    background-color: #1ABC9C;
}

.info-section{
    background-color: #3A546D;
}

.copyright-section{
    background-color: #2C3E50;
}

/* TITLES RULES */

.titles{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.small-titles{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

/* HERO RULES */

.hero__img{
    width: 200px;
}

.star{
    font-size: 20px;
}
.star::before{
    display: table;
    content: "";
    background-color: white;
    height: 4px;
    width: 20%;
}

.star::after{
    display: table;
    content: "";
    background-color: white;
    height: 4px;
    width: 20%;
}

.star-black{
    font-size: 20px;
}
.star-black::before{
    display: table;
    content: "";
    background-color: black;
    height: 4px;
    width: 20%;
}

.star-black::after{
    display: table;
    content: "";
    background-color: black;
    height: 4px;
    width: 20%;
}

/* PORTFOLIO RULES */

.portfolio__img{
    border-radius: 10px;
}

/* CONTACT RULES */

.btn{
    background-color: #1ABC9C;
    border-color: currentColor;
}
/* FOOTER RULES */

.img-details{
    font-size: 20px;
}

.color-green{
    color: #1ABC9C;
}